@font-face {
    font-family: Verdana;
    src: url('../fonts/verdana.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat.ttf');
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:#333;
    font-family: 'Montserrat';
}
body{
    width: 100vw;
    height: 100vh;
    background-color:#ffffff;
}
main{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 10%;
    padding-top: 0.5rem;
    
}
.upper__Part{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: 3rem;
}
.upper__Part .pic{
    background-image: url('./../Img/lab-pic.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    box-shadow: 0 4px 5px 1px #000000a1;
}
.upper__Part .header{
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
    padding-top:1.25rem;
}
.upper__Part .header .part1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.upper__Part .header .part1 p:first-child{
    font-family: 'Montserrat';
    font-size:30px;
    font-weight: bold;
    
}
.upper__Part .header .part1 p:last-child{
    font-family: 'Montserrat';
    font-size:20px;
    font-weight: bold;
    
}
.upper__Part .header .part2 p:last-child{
    font-family: 'Montserrat';
    font-size:16px;
    font-weight: bold;
}
.upper__Part .header span{
    font-family: 'Montserrat';
    font-size: small;
}
.upper__Part .header span a{
    color: black;
    text-decoration: none;
    font-size: small;
}
.upper__Part .header span a:hover{
    text-decoration: underline;
    color: rgb(121, 0, 0);
} 
.upper__Part .header .part1 img{
    max-width: 220px;
} 
.sideLinks{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 0.75rem;
    padding-left: 0.2rem;
    border-bottom: 1px dashed gray;
}
.sideLinks a{
    font-family: 'Montserrat';
    text-decoration: none;
    color: #3c1a1a;
    cursor: pointer;
    font-weight:bold;
    font-size: 14px;
}
.sideLinks a:hover{
    text-decoration: underline;
    color: rgb(142, 0, 0);
}
.footer__Part{
    display: flex;
    flex-direction: column;
}

.footer__Part .mainBox{
    width: 100%;
    height: max-content;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;;
}
.footer__Part .mainBox h2{
    font-size:15px;
    font-weight: bold;
}
.footer__Part .mainBox .desc{
    display: flex;
    text-align: justify;
    flex-direction: column;
    gap: 1rem;
    font-size: 13px;
}
.footer{

    border-top: 1px solid black ;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

@media screen and (min-width: 370px) {
    .upper__Part .pic{
        width: 63%;
        align-self: center;
    }
}
@media screen and (min-width: 500px) {
    .upper__Part .pic{
        width: 50%;
        align-self: center;
    }
    .upper__Part .header .part1{
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (min-width: 627px) {
    .upper__Part{
        flex-direction:row;
        justify-content: normal;
    }
    .upper__Part .header{
        width: 76%;
    }
    .footer__Part{
        flex-direction:row;
    }
    .sideLinks{
        width: 260px;
        flex-direction: column;
        border: none;
        align-items: baseline;
        align-self: flex-start;
    }
    .upper__Part .pic{
        width: 25%;
        align-self: center;
    }
    .upper__Part .header .part1{
        flex-direction: row;
        justify-content: space-between;
    }
    .upper__Part .header .part1 img{
        max-width: 150px;
    }
}
@media screen and (min-width: 768px) {
    .sideLinks{
        width: 37%;

    }
    .upper__Part .pic{
        width: 20%;
        align-self: center;
    }
    .upper__Part .header .part1{
        flex-direction: row;
        justify-content: space-between;
    }
    .upper__Part .header .part1 img{
        max-width: 180px;
    }
}
@media screen and (min-width: 1000px) {
    .sideLinks{
        width: 31.5%;

    }
    .upper__Part .pic{
        width: 20%;
        align-self: center;
    }
    .upper__Part .header .part1{
        flex-direction: row;
        justify-content: space-between;
    }
    .upper__Part .header .part1 img{
        max-width: 250px;
    }
}